body{
	
font-family: "Arial", "Arial", sans-serif;
	
color: #8dd3b1;
	background-color: #dce2e2;
	
text-shadow: 0px 0px #000000;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #000000;

}


td, th {
    
border: 3px solid #dddddd;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #dce2e2;

}